.footer.container
  footer.site-footer
    ul.site-footer__list
      li.site-footer__item
        a.site-footer__link(href='') Documentation
      li.site-footer__item
        a.site-footer__link(href='') Support
      li.site-footer__item
        a.site-footer__link(href='') Blog
      li.site-footer__item
        a.site-footer__link(href='/pricing.html') Pricing
      li.site-footer__item
        a.site-footer__link(href='') Terms
    ul.site-footer__meta
      p.site-footer__copyright © 2009–2014 Superfeedr