.footer.container
  footer.site-footer
    ul.site-footer__list
      li.site-footer__item
        a.site-footer__link(href='/') Documentation
      li.site-footer__item
        a.site-footer__link(href='https://superfeedr.com/subscriber/pricing') Pricing
      li.site-footer__item
        a.site-footer__link(href='https://superfeedr.com/about') Contact
      li.site-footer__item
        a.site-footer__link(href='https://github.com/superfeedr/documentation/issues') Support & Community
      li.site-footer__item
        a.site-footer__link(href='http://blog.superfeedr.com/') Blog
      li.site-footer__item
        a.site-footer__link(href='https://superfeedr.com/terms') Terms
    ul.site-footer__meta
      p.site-footer__copyright © 2009–2014 Superfeedr
