header.header(role='navigation')
  .container
    h1.header-logo
      a(href='https://superfeedr.com/')
        img(src='/assets/img/logo.png', alt='')
        | 
        span Superfeedr
    nav.nav-header
      ul.nav-items
        li.nav-item
          a.nav-link(href='https://superfeedr.com/about') About
        li.nav-item
          a.nav-link(href='https://superfeedr.com/publisher') Publishers
        li.nav-item
          a.nav-link(href='https://superfeedr.com/subscriber') Subscribers
        li.nav-item
          a.nav-link(href='https://superfeedr.com/subscriber/pricing') Pricing
        li.nav-item
          a.nav-link.nav-link-bubble(href='https://superfeedr.com/login') Login
