header.header(role='navigation')
  .container
    h1.header-logo
      a(href='/')
        img(src='/assets/img/logo.png', alt='')
        span Superfeedr
    nav.nav-header
      ul.nav-items
        li.nav-item
          a.nav-link.nav-link-current(href='/about.html') About
        li.nav-item
          a.nav-link(href='/publishers.html') Publishers
        li.nav-item
          a.nav-link(href='/subscribers.html') Subscribers
        li.nav-item
          a.nav-link(href='/pricing.html') Pricing
        li.nav-item
          a.nav-link.nav-link-bubble(href='#') Login