title= page.title
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/assets/front.css')
link(rel='stylesheet', href='/assets/documentation.css')
link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic|Source+Code+Pro:400,600', rel='stylesheet', type='text/css')
