mixin navlink(url, title)
  if url == page.url
    a.docs-nav-link.docs-nav-link-current(href=url) 
      !=title
  else
    a.docs-nav-link(href=url) 
      !=title

nav.docs-nav
  +navlink('/', 'Introduction')
  +navlink('/subscribers.html', 'Subscribers')
  +navlink('/publishers.html', 'Publishers')
  +navlink('/schema.html', 'Schema')
  +navlink('/misc.html', 'Miscellaneous')
