//- Declaration
mixin toc(t)
  if t
    - each item, anchor in t
      li
        if Object.keys(item).length == 0
          a(href="#" + anchor.replace(/ /g,'-').toLowerCase(), id="toc-" + anchor.replace(/ /g,'-').toLowerCase())
            != anchor
        else
          a(href="#" + anchor.replace(/ /g,'-').toLowerCase(), id="toc-" + anchor.replace(/ /g,'-').toLowerCase())
            != anchor
          ul.nav
            +toc(item)
            div

header.docs-inline-nav-header
  h3 Contents
ul.docs-inline-nav
  +toc(page.metadata.toc)

