a {
  color: rgb(90, 163, 88);
}

.nav .nav {
  font-size: 0.9em;
  margin-left: 10px;
  display: none;
}

.nav .nav a {
  padding: 5px 15px;
}

.affix {
  top: 60px;
}

.affix-top {
  top: 60px;
}

.affix-bottom {
  top: -60px;
}

.main {
}

.brand {
  padding-left: 50px;
  background: url(/assets/img/superfeedr.png) no-repeat left center;
  background-size: 40px;
}

.nav > .active > a {
  font-weight: bold;
  border-right: 1px solid grey;
}

.active ul.nav {
  display: block;
}


/* By default it's not affixed in mobile views, so undo that */
.side-navbar.affix {
  position: static;
}
/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .side-navbar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .side-navbar.affix,
  .side-navbar.affix-bottom {
    width: 213px;
  }
  .side-navbar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .side-navbar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .side-navbar.affix-bottom,
  .side-navbar.affix {
    width: 263px;
  }
}



/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #969896;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #cc6666;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #de935f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #f0c674;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #b5bd68;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #8abeb7;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #81a2be;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #b294bb;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
