//- doctype html
html(lang='en')
head
  include partials/head
body
  include partials/header
  main.container.body
    header.body-header
      h2
        span Documentation › 
        strong=page.title
      
      include partials/nav

    .body-content
      .column.column--quarter.docs-inline-nav-wrap
        include partials/toc
      section.column.column--three-quarters.docs-content-text
        != page.html

  include partials/footer

include partials/scripts

