!!! 5
html(lang='en')
  head
    include partials/head
  body(data-spy="scroll", data-target="#sidenavbar", data-offset="30")
    include partials/header
    div.container.main
      div.row
        div.col-md-3
          include partials/nav
        div.col-md-9
          h1= page.title
          != page.html

      include partials/footer

    include partials/scripts
