.nav .nav {
  font-size: 0.9em;
  margin-left: 10px;
}

.nav .nav a{
  padding: 5px 15px;
}

.affix {
  top: 60px;
}

.affix-top {
  top: 60px;
}

.affix-bottom {
  top: -60px;
}

.main {
  padding-top: 60px;
}

.brand {
  padding-left: 50px;
  background: url(/assets/img/superfeedr.png) no-repeat left center;
  background-size: 40px;
}


