<!DOCTYPE html>
<html lang="en">
<head>
  <title>Introduction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/front.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="stylesheet" href="/css/documentation.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic|Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <header role="navigation" class="header">
    <div class="container">
      <h1 class="header-logo">
        <a href="https://superfeedr.com/">
          <img src="/img/logo.png" alt=""> <span>Superfeedr</span>
        </a>
      </h1>
      <nav class="nav-header">
        <ul class="nav-items">
          <li class="nav-item">
            <a href="https://superfeedr.com/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="https://superfeedr.com/publisher" class="nav-link">Publishers</a>
          </li>
          <li class="nav-item">
            <a href="https://superfeedr.com/subscriber" class="nav-link">Subscribers</a>
          </li>
          <li class="nav-item">
            <a href="https://superfeedr.com/subscriber/pricing" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="https://superfeedr.com/login" class="nav-link nav-link-bubble">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container body">
    {{ content }}
  </main>
  <div class="footer container">
    <footer class="site-footer">
      <ul class="site-footer__list">
        <li class="site-footer__item">
          <a href="/" class="site-footer__link">Documentation</a>
        </li>
        <li class="site-footer__item">
          <a href="https://superfeedr.com/subscriber/pricing" class="site-footer__link">Pricing</a>
        </li>
        <li class="site-footer__item">
          <a href="https://superfeedr.com/about" class="site-footer__link">Contact</a>
        </li>
        <li class="site-footer__item">
          <a href="https://github.com/superfeedr/documentation/issues" class="site-footer__link">Support & Community</a>
        </li>
        <li class="site-footer__item">
          <a href="http://blog.superfeedr.com/" class="site-footer__link">Blog</a>
        </li>
        <li class="site-footer__item">
          <a href="https://superfeedr.com/terms" class="site-footer__link">Terms</a>
        </li>
      </ul>
      <ul class="site-footer__meta">
        <p class="site-footer__copyright">© 2009–2014 Superfeedr</p>
      </ul>
    </footer>
  </div>
</body>
<script src="/js/jquery.min.js">
</script>
<script src="/js/prism.js">
</script>
<script src="/js/documentation.js">
</script>
</html>

