<!DOCTYPE html>
<html lang="en">
<head>
  <title> {{ page.title }} - Superfeedr Documentation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/front.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="stylesheet" href="/css/documentation.css">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic|Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9285763-1', 'auto');
  ga('send', 'pageview');
</script>


<div style="display: none">
<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 984056007;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/984056007/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
</div>


  <header class="header">
    <div class="container--front">

      <div class="header-logo">
        <a title="Superfeedr Documentation Home" href="/">
          <img alt="Logo" src="/img/logo.svg">
          <span>Superfeedr Documentation</span>
        </a>
      </div>

      <nav class="nav-header">
        <ul class="nav-items">
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/publisher">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/subscriber">Subscribers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/tracker">Trackers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-bubble" href="https://superfeedr.com/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-bubble" href="https://superfeedr.com/users/new">Sign Up</a>
          </li></ul>
        </nav>
      </div>
  </header>

  <main class="container--front body">
    {{ content }}

    &nbsp;
    &nbsp;
  </main>


  <div class="footer container--front">

    <footer class="site-footer">
      <div class="site-footer__block">
        <a href="/" class="site-footer__logo"><img alt="Logo invert" src="/img/logo-invert.svg"></a>
        <p class="site-footer__copyright"><span>Superfeedr</span><br>&copy; 2009–{{ site.time | date: '%Y' }}</p>
      </div>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>Superfeedr</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/about">About</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/pricing">Pricing</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/terms">Terms</a></li>
      </ul>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>For developers</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="http://documentation.superfeedr.com/">Documentation</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://github.com/superfeedr/">Code Libraries</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://github.com/superfeedr/documentation/issues">Support</a> <a href="" class="site-footer__link"></a></li>
      </ul>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>Connect with us</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/about">Contact Us</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="mailto:info@superfeedr.com">Email</a> </li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://twitter.com/superfeedr">Twitter</a> </li>
      </ul>
    </footer>

  </div>
</body>
<script src="/js/jquery.min.js">
</script>
<script src="/js/prism.js">
</script>
<script src="/js/documentation.js">
</script>
</html>
