<!DOCTYPE html>
<html lang="en">
<head>
  <title> {{ page.title }} - Superfeedr Documentation </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/front.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="stylesheet" href="/css/documentation.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic|Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>



  <header class="header">
    <div class="container">

      <div class="header-logo">
        <a title="Superfeedr Documentation Home" href="/">
          <img alt="Logo" src="/img/logo.svg"> 
          <span>Superfeedr Documentation</span>
        </a>
      </div>

      <nav class="nav-header">
        <ul class="nav-items">
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/publisher">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/subscriber">Subscribers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/tracker">Trackers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://superfeedr.com/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-bubble" href="https://superfeedr.com/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-bubble" href="https://superfeedr.com/users/new">Sign Up</a>
          </li></ul>
        </nav>
      </div>
  </header>

  <main class="container body">
    {{ content }}
  
    &nbsp;
    &nbsp;
  </main>


  <div class="footer container">

    <footer class="site-footer">
      <div class="site-footer__block">
        <a href="/" class="site-footer__logo"><img alt="Logo invert" src="/img/logo-invert.svg"></a>
        <p class="site-footer__copyright"><span>Superfeedr</span><br>© 2009–2015</p>
      </div>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>Superfeedr</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/about">About</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/pricing">Pricing</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/terms">Terms</a></li>
      </ul>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>For developers</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="http://documentation.superfeedr.com/">Documentation</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://github.com/superfeedr/">Code Libraries</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://github.com/superfeedr/documentation/issues">Support</a> <a href="" class="site-footer__link"></a></li>
      </ul>
      <ul class="site-footer__block site-footer__list">
        <li class="site-footer__item"><strong>Connect with us</strong></li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://superfeedr.com/about">Contact Us</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="mailto:info@superfeedr.com">Email</a> </li>
        <li class="site-footer__item"><a class="site-footer__link" href="https://twitter.com/superfeedr">Twitter</a> </li>
      </ul>
    </footer>

  </div>
</body>
<script src="/js/jquery.min.js">
</script>
<script src="/js/prism.js">
</script>
<script src="/js/documentation.js">
</script>
</html>

