---
layout: default
---

<header class="body-header">
	<h1>
		<span>Documentation › </span> <strong>{{ page.title }}</strong>
	</h1>

	<nav class="docs-nav">
		{% navlink /, Introduction %}
		{% navlink /subscribers.html, Subscribers %}
		{% navlink /publishers.html, Publishers %}
		{% navlink /trackers.html, Trackers %}
		{% navlink /schema.html, Schema %}
		{% navlink /misc.html, Miscellaneous %}
	</nav>
</header>
<div class="body-content">
	<div class="sticky-wrapper">
		<div class="column column--quarter docs-inline-nav-wrap">
			<header class="docs-inline-nav-header">
				<h2>Contents</h2>
			</header>

			{% toc page.toc %}


		</div>
	</div>
	<section class="column column--three-quarters docs-content-text">
		{{content}}
	</section>
</div>
