footer
  div.col-md-3
  div.col-md-9
    <hr />
    ul.list-inline
      li
        &copy;
      li
        a(href='http://superfeedr.com') Superfeedr
      li
        a(href="http://blog.superfeedr.com/") Blog
      li
        a(href="http://github.com/superfeedr") Code
      li Last Update: 19/08/2013
